repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
        files: ^((pyisyox|examples)/.+)?[^/]+\.py$

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        args:
          - --toml
          - pyproject.toml
          - --ignore-words-list=ETo,ETO
          - --quiet-level=2
        exclude: ^tests/fixtures/|homeassistant/generated/|tests/components/.*/snapshots/

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args: ["--branch=dev", "--branch=main"]

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.6.2
          - prettier-plugin-sort-json@4.1.1

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        require_serial: true
        files: ^pyisyox/.*\.py$
      - id: pylint
        name: pylint
        entry: script/run-in-env.sh pylint --rcfile=.pylintrc
        language: script
        require_serial: true
        files: ^pyisyox/.*\.py$
